body {
    background-color: lightblue;
}

.navbar-default .navbar-nav>li>a.active {
    color: #555;
    background-color: #e7e7e7;
}

.add-btn {
    min-width: 100px;
}

.top-form {
    background-color: #f8f8f8;
    padding: 30px 30px 20px;
    border: 1px solid #333333;
}

.top-form .form-control {
    width: 290px;
}

input.error{
    border: 1px solid #ff3333;
}

.form-control.error:focus {
    border: 1px solid #aa6666;
}

p.msgError {
    margin-right: 20px;
    padding-top: 10px;
    color: #ff4444;
}

.table-content {
    background-color: #f8f8f8;
    padding: 0 30px 20px;
    border: 1px solid #333333;
    margin-top:30px; 
}

.table {
    margin-top: 10px;
}

.table .edit-column {
    cursor: pointer;
}

.table .btn-delete {
    background-color: #ff4444;
    color: #ffffff;
    min-width: 60px; 
}

.table>thead>tr>th {
    background-color: #f3f3f3;
}
.table th.sortable {
    cursor: pointer;
}

.table th.sortable span {
    margin: 8px 10px;
}

.table .empty-table {
    width: 100%;
    padding: 20px;
    min-height: 100px;
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
}

.load-json button {
    width: 100px;
    margin-top: 20px;
}

/********** NOTIFICATION ************/

.notify-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.notify-container .panel {
  width: 40%;
  position: absolute;
  top:200px;
  right:30%
}

.notify-container .panel-body {
    min-height: 100px;
}

.notify-container .panel-footer {
    background-color: transparent;
    border-top: none;
}

/********** END NOTIFICATION ************/